@model SliderSettings

@{
    Html.AppendScriptParts("~/Plugins/myplugin.swiperslider/Content/lib/swiper/swiper-bundle.js");
    Html.AppendCssFileParts("~/Plugins/myplugin.swiperslider/Content/lib/swiper/swiper-bundle.css");

    Html.AppendCssFileParts("~/Plugins/myplugin.swiperslider/Content/css/style.css");

}

<!-- Slider main container -->
<div class="swiper-container" style="width:600px; height:300px">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Ekran 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>

    </div>

    @if (Model.PaginationEnabled)
    {
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    }
    @if (Model.NavigationEnabled)
    {
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    }
    @if (Model.ScrollBarEnabled)
    {

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    }




</div>

<script type="text/javascript">
    const swiper = new Swiper('@Model.ContainerCssSelector', {
      // Optional parameters
        direction: '@Model.Direction.ToString().ToLower()',
        loop: @Model.Loop.ToString().ToLower(),
        speed: @Model.Speed,
        initialSlide:@Model.InitialSlide, // initialSlide default value is 0. 0 is first slide

  // If we need pagination
        @if(Model.PaginationEnabled) {
            <text>
            pagination:
                {
                    el: '@Model.PaginationCssSelector',
                }
            </text>

        },


  // Navigation arrows
        @if(Model.NavigationEnabled)
        {
              <text>
        navigation:
                {
                    nextEl: '@Model.NavigationNextCssSelector',
                    prevEl: '@Model.NavigationPrevCssSelector',
                }
                </text>
        },


  // And if we need scrollbar

        @if(Model.ScrollBarEnabled)
        {
            <text>
             scrollbar:
                {
                    el: '@Model.ScrollBarCssSelector'
                },
            </text>
            }
});

</script>